* {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.radio-container{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
}
form button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: cornflowerblue;
    transition-duration: 0.3s;
}

form button:hover {
    background-color: rgb(50, 159, 221);
}